//===============
//   Variables
//===============
$primary-color:    rgb(108, 83, 83); 
$text-color_primary:     rgb(36, 28, 28);

//===============
//   Custom
//===============
body {
  background: $primary-color;
  color: $text-color-primary;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 500; 
	font-size: 14px;
	text-transform: capitalize;
  position: relative;
}

@font-face {
    font-family: 'Maven Pro';
    src: url("../fonts/MavenPro-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Maven Pro';
    src: url("../fonts/MavenPro-Medium.ttf") format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Maven Pro';
    src: url("../fonts/MavenPro-Bold.ttf") format('truetype');
    font-style: 700;
}
@font-face {
    font-family: 'Maven Pro';
    src: url("../fonts/MavenPro-Black.ttf") format('truetype');
    font-weight: 900;
}
