//===============
//   Variables
//===============
$secondary-color: rgb(220, 57, 85);
$text-color_secondary: rgb(72, 55, 55);
$accent_2: rgb(200, 183, 183);
$img-path: url(
 'http://cfile26.uf.tistory.com/image/21319E4E543E62020C1820');

//===============
// Placeholders
//===============
%center_vert {
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

//===============
//  Component
//===============
main {
  grid-area: main;  
}

.home {
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 40% 1fr;
  grid-template-areas:
    "promo_1 hero"
    "promo_2 hero";
  .promo_1 {
    grid-area: promo_1;
    background: $secondary-color;
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    @extend %center_vert;
  }
  .promo_2 {
    grid-area: promo_2;
    background: $text-color_secondary; 
    font-size: 5em;
    font-weight: 900;
    color: $accent_2;
    text-align: center;
    cursor: pointer;
    @extend %center_vert;
  }
  .hero {
    grid-area: hero;
    background: $img-path center no-repeat;   
    background-size: cover;
  }
}
