//===============
//   Variables
//===============
$text-color_primary: rgb(36, 28, 28);
$text-color_secondary: rgb(72, 55, 55);
$text-color_accent: rgb(172, 147, 147);
$accent_1: rgb(233, 198, 175);

//===============
//    Grid
//===============
.container {
	height: 560px;
	padding-top: 20px;
	padding-bottom: 50px;
	overflow: hidden;
	display: grid;
	grid-template-columns: 320px 320px 320px;
	grid-template-rows: 20% 10% 70%;
	grid-template-areas: 
		"header header header"
		"nav nav nav"
		"main main main"
		"main main main";
	justify-content: center;
}

//===============
//    Header
//===============
header {
	grid-area: header;
	align-self: start;
	color: $text-color_primary;
	h1 {
		font-size: 6em;
	}
	h2 {
		font-size: 1.4em;
	}
}

//===============
//  Primary Nav
//===============
nav {
	grid-area: nav;
	align-self: center;
	color: $text-color_secondary;
	font-size: 1em;
	ul {
		display: flex;
		background: $accent_1;
		justify-content: space-around;
		li {
			padding: 10px 100px;
			&:hover {
				cursor: pointer;
				font-weight: 700;
			}
		}
		li.active {
			background: $text-color_secondary;
			color: $text-color_accent;
			&:hover {
				font-weight: 500;
			}
		}
	}
}
